body {
  background-color: #824c71;
  box-sizing: border-box;
  color: #dccca3;
  text-align: center;
}

#canvas {
  margin: 12px;
  border-style: double;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1600px;
}

.options-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
  height: 800px;
}

.algs-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.algorithms {
  margin: 12px;
}

.heuristics {
  margin: 12px;
}

.solve-box {

}

.stats-box {
  min-height: 200px;
  border-style: double;
}

.slide-container {
  padding: 10px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  opacity: .7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px black;
  background: #afd2e9;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #afd2e9;
  cursor: pointer;
}

.links {
  width: 100%;
  align-items: center;
  position: relative;
}

.links ul {
  position: relative;
  text-align: center;
  list-style: none;
  padding: 12px;
}

.links ul li {
  position: relative;
  display: inline-block;
  margin: 12px; 
  text-align: center;
  width: 50px;
  padding: 10px;
}

#github, #linkedin {
  width: 50px;
}